.header-top{
    display: block;
    position: relative;
    height: 100px;
}

.header-top{
    padding: 12px;
    background: #ffcc00;
}

.header-top .slog{
    display: inline-block;
    font-size: 26px;
    color: #585858;
}

.nav-wrapper{
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    height: 100px;
}

.nav{
    width: 100%;
    background: #003678;
    z-index: 999;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.nav h4{
    color: #ffcc00;
    text-transform: uppercase;

}
.search-wrapper{
    position: relative;
}

.search{
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 9999;
}
h2{
    color: #003678;
}
ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

a{
    color: inherit;
}
.inline-list li{
    display: inline-block;
}

.carousel-caption{
    position: absolute;
    background: #fff;
    right: 200px;
    top: 100px;
    bottom: auto;
    left: auto;
    z-index: 10;
    padding: 10px 30px;
    text-align: center;
    color: #003678;
}
.inner-nav-wrapper{
    position: relative;
}
.inner-nav{
    text-align: center;
    position: absolute;
    top: -20px;
    background: #eee;
    z-index: 999;
    border-radius: 12px;
}

.inner-nav p{
   margin: 10px 0;
}

.inner-nav a{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.nav-icon{
    display: inline-block;
    height: 100px;
    width: 100px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlb4wXH42IruxqDsk3Zc8CvdzCjd3x12lYIl6yu70LGyYGpbQ6');
}

.products-container{
    padding-top: 250px;
}

.footer{
    padding: 20px 0;
    background: #003678;
    color: #fff;
}

.footer-links a{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.social a{

}

.input-search{
    border-radius: 25px;
    height: auto;
    padding: 5px;
}

.footer h4{
    text-transform: uppercase;
    text-decoration: underline;
}

.contact-form input, 
.contact-form textarea{
    background: #007bff;
    color: #000;
    border: 0;
}